<% layout('layout/boilerplate') %>
<h1>Edit Campground</h1>
<form action="/campgrounds/<%= campground.id %>?_method=PUT" method="post">
  <label for="title">Title: </label>
  <input
    value="<%= campground.title %>"
    type="text"
    name="campground[title]"
    id="title"
  />
  <label for="location">Location</label>
  <input
    value="<%= campground.location %>"
    type="text"
    name="campground[location]"
    id="location"
  />
  <button>Save!!</button>
  <a href="/Campgrounds/<%= campground._id %> ">Back to Campground</a>
</form>
