<% layout('layout/boilerplate') %>
<h1>Create New Campground</h1>
<form action="/campgrounds" method="post">
  <label for="title">Title: </label>
  <input type="text" name="title" id="title" />
  <label for="location">Location</label>
  <input type="text" name="location" id="location" />
  <button>SUBMIT!!</button>
  <a href="/Campgrounds">Cancel</a>
</form>
