<% layout('layout/boilerplate') %>
<h1><%= campground.title %></h1>
<h3>Located at: <%= campground.location %></h3>
<a href="/campgrounds">HOME</a>
<a href="/campgrounds/<%= campground._id %>/edit ">Edit Campground</a>
